@import url(./__image/about-author__image.css);
@import url(./__text/about-author__text.css);

.about-author {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5%;
}

@media (max-width: 425px) {
  .about-author {
      max-width: 425px;
      width: 90%;
      justify-content: center;
      flex-direction: column;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .about-author {
      max-width: 768px;
      width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-author {
      max-width: 1024px;
      width: 90%;
  }
}