@import url(./__article-bottom/articles__article-bottom.css);
@import url(./__article-topside/articles__article-topside.css);


.articles__article{
  max-width: 400px;
  border-radius: 16px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}