@import url(./__article-bottom/articles__article-bottom.css);
@import url(./__article-topside/articles__article-topside.css);


.articles__article{
  max-width: 400px;
  border-radius: 16px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 425px) {
  .articles__article {
      max-width: 288px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .articles__article {
      max-width: 224px;
      min-width: 160px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .articles__article {
      max-width: 400px;
  }
}
