@import url(./_disabled/popup__button_disabled.css);

.popup__button {
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  height: 3.5em;
  color: #FFFFFF;
  border: none;
}

.popup__button:hover {
  background: #347EFF;
}

.popup__button:active {
  background: #2A65CC;
}