@import url(./__no-results-header/search-results__no-results-header.css);
@import url(./__no-results-text/search-results__no-results-text.css);

.search-results__no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}