@import url(./__button/header__button.css);
@import url(./__logo/header__logo.css);
@import url(./__navigation/header__navigation.css);
@import url(./__mini-menu/header__mini-menu.css);

.header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  .header__container {
      max-width: 425px;
      width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header__container {
      max-width: 768px;
      width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header__container {
      max-width: 1024px;
      width: 90%;
  }
}