.articles__article-title{
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7em;
  color: #1A1B22;
  margin: 5% 0 0 0;
}

@media (max-width: 425px) {
  .articles__article-title {
    font-size: 1.2em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .articles__article-title {
      font-size: 1.2em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .articles__article-title {
    font-size: 1.4em;
  }
}