.articles__article-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #1A1B22;
  margin: 2% 0 0 0;
  word-wrap: break-word;
  max-height: 110px;
  overflow-y: hidden;
}

@media (max-width: 425px) {
  .articles__article-text {
    font-size: 0.8em;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .articles__article-text {
    font-size: 0.9em;
  }
}
