@import url(./__loading-text/search-results__loading-text.css);
@import url(./__circle-preloader/search-results__circle-preloader.css);

.search-results__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}