.articles__login-message {
  border: none;
  position: absolute;
  top: 24px;
  right: 70px;
  background: #FFFFFF;
  border-radius: 10px;

  height: 40px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 0.7em;
}