.popup__close {
  width: 26px;
  position: absolute;
  top: -32px;
  right: -32px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .popup__close {
    width: 20px;
    top: -32px;
    right: 16px;
  }
}
