@import url(./__button/search-results__button.css);
@import url(./__header/search-results__header.css);
@import url(./__loading/search-results__loading.css);
@import url(./__no-results/search-results__no-results.css);
@import url(./__error/search-results__error.css);

.search-results {
  display: flex;
  flex-direction: column;
  margin: 0;

  max-width: 1440px;
  width: 90%;
  align-content: center;
}

@media (max-width: 425px) {
  .search-results {
      max-width: 425px;
      width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .search-results {
      max-width: 768px;
      width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-results {
      max-width: 1024px;
      width: 90%;
  }
}