@import url(./__button/search-results__button.css);
@import url(./__header/search-results__header.css);
@import url(./__loading/search-results__loading.css);
@import url(./__no-results/search-results__no-results.css);

.search-results {
  display: flex;
  flex-direction: column;
  margin: 0;

  max-width: 1440px;
  width: 90%;
  align-content: center;
}