@import url(./_liked/articles__article-fav-icon_liked.css);

.articles__article-fav-icon {
  background: url(../../../../../../../images/rect-normal.svg) no-repeat;
  background-position: center;
  background-size: 43.2%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.articles__article-fav-icon:hover {
  background: url(../../../../../../../images/bookmark-hover.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  width: 100%;
  height: 100%;
}
