@import url(./__container/header__container.css);

.header {
  max-width: 1440px;
  width: 100%;
  height: 14%;
  margin: 0;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}