@import url(./_item/header__navigation-list_item.css);

.header__navigation-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  justify-content: center;
}

@media (min-width: 426px) and (max-width: 768px) {
  .header__navigation-list {
    width: 100%;
    text-align: center;
  }
}

