.saved-articles__trash-icon {
  background: url(../../../../../../../images/trash.svg) no-repeat;
  background-position: center;
  background-size: 70%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.saved-articles__trash-icon:hover {
  background: url(../../../../../../../images/trash-black.svg) no-repeat;
  background-position: center;
  background-size: 70%;
}