@import url(./__form/popup__form.css);
@import url(./__text/popup__text.css);
@import url(./__title/popup__title.css);

.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  display: flex;
  flex-direction: column;
}