@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/search/search.css);
@import url(../blocks/search-results/search-results.css);
@import url(../blocks/search-results/articles/articles.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/page-favourite/page-favourite.css);

body {
  font-family: 'Inter', 'Roboto', 'Roboto Slab', 'Source Sans Pro';
}

.link {
  text-decoration: none;
  cursor: url('../images/lapka.svg'), pointer;
}

.disabled {

}

.popup_is-opened {
  display: flex;
}

.error-message {
  color: #FF0000;
  font-size: 0.8em;
  transition: .3s;
  padding: 0px;
  opacity: 1;
}

.input-container__invalid .error-message {
  padding: 10px;
  opacity: 0.5;
}

.input-container__invalid .input__text {
  border-color: #FF3333;
}





