@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/search/search.css);
@import url(../blocks/search-results/search-results.css);
@import url(../blocks/search-results/articles/articles.css);
@import url(../blocks/about-author/about-author.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/page-favourite/page-favourite.css);

body {
  font-family: 'Inter', 'Roboto', 'Roboto Slab', 'Source Sans Pro';
}

.link {
  text-decoration: none;
  cursor: url('../images/lapka.svg'), pointer;
}

.icon {
  margin: 5px 5px 5px 5px;
}

.username {
  margin: 5px 0px 5px 10px;
  color: #FFFFFF;
}

.username_black {
  color: #1A1B22;
}

.special-keyword {
  font-weight: bold;
}
