@import url(./__keyword-button/saved-articles__keyword-button.css);
@import url(./__keyword-text/saved-articles__keyword-text.css);

/* .saved-articles__article-keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 426px) and (max-width: 768px) {
  .saved-articles__article-keyword {
    top: 16px;
    left: 16px;
    margin: 0;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .saved-articles__article-keyword {
    top: 16px;
    left: 16px;
    margin: 0;
  }
} */

.special-keyword {
  font-weight: bold;
}