.header__mini-menu {
  background: none;
  border: none;
  opacity: 0;
}

@media (max-width: 425px) {
  .header__mini-menu {
    background: url(../../../../../images/menu.svg);
    border: none;
    opacity: 100;
    width: 24px;
    height: 24px;
  }
}