@import url(./__trash-button/saved-articles__trash-button.css);
@import url(./__trash-icon/saved-articles__trash-icon.css);

.saved-articles__trash-container {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #FFFFFF;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}